* {
  background-color: #d2f1f1;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  color: rgb(0, 0, 0);
  margin: 2%;
  padding: 0%;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: xx-large;
  text-align: center;
  font-style: oblique;
}

/* main navigation styles */
.nav-list {
  background: none;
  height:5vh;
  width:100%;
  padding: 0.5em;
  margin: 1em;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-item {
  background: none;
  margin: 0;
  text-shadow: #151b1b;
}

/*contact me section styles */

/*
.paragraph {
display: flex;
flex-direction: row;
justify-content: center;
}

.contact-me {

}